* {
  font-family:sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: black;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  height: 140px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.search input {
  background-color: transparent;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;

  &::placeholder {
    color: white;
  }
}

@media (0 < width <600px) {
  .container{
    flex-direction: column;
    height: 100px;
    padding: 10px;
  }
  .buttons {
    padding-top: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 40px;
}

.buttons button {
  background: #de2b2b;
  border-radius: 5px;
  padding: 6px 12px;
  border: none;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #e50505;
    outline: 1px solid white;
  }
}

/* navbar section end */
.main {
  min-height: calc(100vh - 240px);
  background-image: url("images/bg_img.png");
  opacity: 0.8;
  background-size: cover;
}

.fooditems {
  max-width:1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.fooditem {
  width: 340px;
  height: 167px;
  border: 0.66px solid;

  background:
    radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(165, 239, 255, 0.2) 0%,
      rgba(110, 191, 244, 0.0447917) 77.08%,
      rgba(70, 144, 213, 0) 100%
    );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(8.1842px);

  border-radius: 20px;
  display: flex;
  padding: 8px;
}

.food_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  
}

.food_info h3 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
}
.food_info p{
  margin-top: 4px;
  font-size: 14px;
}
.food_info button {
  background-color: #f30606;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  padding: 5px;
}